__pycache__/
*.py[cod]
*.pyo
.env
*.log
.DS_Store
*.egg-info/
dist/
build/
.venv/
venv/
*.json.lock
pipelines/*.yaml
infrastructure/terraform/terraform.tfvars
infrastructure/terraform/.terraform/
infrastructure/terraform/*.tfstate
infrastructure/terraform/*.tfstate.backup
